body {
    background-color: #726E83;
}

p{
    margin: 0;
    font-family: Arial;
}

.image {
    width: 30px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
}