body {
    background-color: #14163E;
    padding: 30px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading-container {
    color: #FAFAFB;
    font-family: Arial;
    font-size: 20px;
}

