body {
    background-color: #F3FAFB;
    display: flex;
    justify-content: center;
}

p {
    margin: 0;
    font-family: Arial;
}

.main-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px 40px;
    border-radius: 20px;
    width: 300px;
    height: 400px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.members-container {
    display: flex;
    justify-content: space-between;
}