body {
    background-color: #F3FAFB;
    display: flex;
    justify-content: center;
}

p {
    margin: 0;
    font-family: Arial;
}

.main-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px 40px;
    border-radius: 20px;
    width: 300px;
    height: 400px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.members-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.import-button {
    background-color: white;
    color: #727CD5;
    padding: 3px 10px;
    border: 1px solid #96A0A7;
    border-radius: 4px;
}

.search {
    padding: 10px;
    border: 1px solid #96A0A7;
    border-radius: 6px;
    margin-bottom: 15px;
}

.share-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}