body {
    background-color: #9494A3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

p {
    font-family: Arial;
    margin: 0;
}

.title {
    width: 450px;
    text-align: center;
}

.main-info {
    width: 600px;
    text-align: center;
}


