body {
    display: flex;
    justify-content: center;
    background-color: gray;
}

p {
    margin: 0;

}

.main-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 800px;
    border-radius: 15px;
    padding: 20px;
}

.first-layer {
    display: flex;
    gap: 10px;
}

.first-layer .button {
    color: #808FB0;
    cursor: pointer;
}

.second-layer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-parameter {
    color: #0D2464;
}

.second-layer button {
    padding: 10px 10px;
}

.edit-button,
.delete-button {
    background-color: white;
    color: #0D2464;
    border: 1px solid #C3CBE3;
    border-radius: 4px;
}

.create-button