body {
    display: flex;
    justify-content: center;
    background-color: #DEDEF4;
}

p {
    margin: 0;
    font-family: Arial;
}

h1{
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.subscibe-container {
    background-color: white;
    color: #1F2543;
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    width: 300px;
    border-radius: 25px;
}

.heading {
    margin-bottom: 5px;
}

.heading-info {
    margin-bottom: 20px;
}

.above-input-text{
    font-weight: bold;
    font-size: 12px;
}

.input {
    padding: 10px;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.checkbox-container input {
    width: 20px;
    height: 20px;
}



