body {
    background-color: #303A71;
    display: flex;
    justify-content: center;
}

p{
    margin: 0;
    font-family: Arial;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #5C649C;
    border-radius: 10px;
    padding: 30px;
    width: 500px;
    height: 170px;
}

