body {
    background-color: #303A71;
    display: flex;
    justify-content: center;
}

p{
    margin: 0;
    font-family: Arial;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #5C649C;
    border-radius: 10px;
    padding: 30px;
    width: 500px;
    height: 170px;
}

.top-text {
    color: white;
    font-size: 12px;
}

.info-text {
    color: white;
    font-weight: bold;
    font-size: 14px;
    width: 350px;
}

.input-container {
    display: flex;
    gap: 5px;
}

.input-field {
    padding: 10px;
    background-color: #5C649C;
    border: 2px solid #737AA9;
    border-radius: 4px;
    width: 220px;
}

.sign-me-button {
    background-color: #A974F4;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}